*.egg-info

*.pyc

*.gz

*~

# Don't ignore dataset files
!*.csv.gz

*.ipynb

*.coverage

*.tox

debug_script.py

test_output.txt

plotly/api/v2/spectacle_presentations.py

plotly/presentation_objs/

.idea

node_modules/

.pytest_cache

# virtual envs
vv
venv

# dist files
build
dist
plotly.egg-info/

plotly/tests/test_orca/images/*/failed
plotly/tests/test_orca/images/*/tmp
/plotly-package/plotly/tests/test_core/test_offline/plotly.min.js
temp-plot.html
.vscode
doc/python/.ipynb_checkpoints
doc/python/.mapbox_token
doc/.ipynb_checkpoints
