[submodule "plotly/mplexporter"]
	path = plotly/mplexporter
	url = git://github.com/mpld3/mplexporter.git
[submodule "plotly/graph_reference"]
	path = plotly/graph_reference
	url = https://github.com/plotly/graph_reference.git
[submodule "plotly/chunked_requests"]
	path = plotly/chunked_requests
	url = git://github.com/chriddyp/chunked_requests.git
