[submodule "submodules/mplexporter"]
	path = submodules/mplexporter
	url = git://github.com/mpld3/mplexporter.git
[submodule "submodules/chunked_requests"]
	path = submodules/chunked_requests
	url = git://github.com/chriddyp/chunked_requests.git
