mkdocs==1.6.1
mkdocs-jupyter==0.25.1
mkdocstrings==0.27.0
mkdocstrings-python==1.12.2
mkdocs-material==9.5.47
mkdocs-redirects==1.2.2
plotly==6.0.0rc0
pandas==2.2.3
statsmodels==0.14.4
anywidget==0.9.13
kaleido==0.2.1
scikit-image==0.25.0
geopandas==0.14.4
pyshp==2.3.1
shapely==2.0.6
dash-bio==1.0.2
xarray==2024.1.0
pooch==1.8.2
wget==3.2
umap-learn==0.5.7
polars==1.18.0
datashader==0.16.3
pyarrow==18.1.0
