### Dependencies for Core Plotly Functionality  ###
###                                             ###
### To install, run:                            ###
###      $ pip install -r requirements.txt      ###
###                                             ###
###################################################

## http request dependencies ##
requests

## python 2 to 3 compatibility ##
six==1.8.0

## timezone definitions ##
pytz==2014.9

## retrying requests ##
retrying==1.3.3
