*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
js/node_modules/

# Compiled javascript
ipyplotly/static/

# OS X
.DS_Store

# PyCharm project
.idea/

# Generated code
ipyplotly/validators
ipyplotly/datatypes

# General scratch directories
**/scratch

# Examples
/examples/overviews/exports/
!/examples/overviews/exports/README.md

