plotly==5.18.0
jupytext==1.1.1
ipywidgets==7.7.2
jupyter-client<7
jupyter
notebook
pandas==1.2.0
statsmodels==0.12.1
scipy==1.5.4
patsy==0.5.1
numpy==1.19.5
plotly-geo
igraph
geopandas==0.8.1
pyshp==2.1.2
shapely==1.7.1
psutil
requests
networkx
squarify
scikit-image
scikit-learn
sphinx==3.5.4
sphinx_bootstrap_theme
recommonmark
pathlib
python-frontmatter
datashader==0.14.4
pyarrow
cufflinks==0.17.3
kaleido
umap-learn==0.5.1
pooch
wget
nbconvert==5.6.1
orjson
dash-bio
jinja2<3.1
parmed<=3.4.4; python_version<"3.8"
polars
