plotly==4.5.1
jupytext==1.1.1
jupyter
notebook
pandas==0.23.0
statsmodels==0.10.1
scipy==1.3.1
patsy==0.5.1
numpy==1.16.0
plotly-geo
python-igraph
geopandas
pyshp
shapely
psutil
requests
networkx
squarify
scikit-image
sphinx
sphinx_bootstrap_theme
recommonmark
pathlib
python-frontmatter
datashader
pyarrow
