plotly==5.24.1
jupytext==1.1.1
ipywidgets==7.7.2
jupyter-client<7
jupyter
notebook
pandas==1.4.0
statsmodels==0.14.2
scipy==1.9.1
patsy==0.5.6
numpy==1.22.4
plotly-geo
igraph
geopandas==0.8.1
pyshp==2.1.2
shapely==2.0.5
psutil
requests
networkx==2.8.0
squarify
scikit-image==0.20.0
scikit-learn
sphinx==3.5.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-jsmath==1.0.1
sphinx_bootstrap_theme
recommonmark
pathlib
python-frontmatter
datashader==0.14.4
pyarrow
cufflinks==0.17.3
kaleido
umap-learn==0.5.1
pooch
wget
nbconvert==5.6.1
orjson
dash-bio
jinja2<3.1
dask==2022.2.0
polars
geoparse<=2.0.3
xarray==2022.9.0
