requests
pandas
numpy
xarray
statsmodels
Pillow
pytest
pytz
ipython
ipykernel
jupyter
scipy
Shapely
geopandas
pyshp
matplotlib
scikit-image
psutil
kaleido
orjson
polars[timezone]
pyarrow
anywidget
plotly-geo
vaex;python_version<="3.9"
