requests
pandas
numpy
xarray
statsmodels
Pillow
pytest
pytz
ipython
jupyter
anywidget
scipy
Shapely<2.1
geopandas
fiona<=1.9.6;python_version<="3.8"  # fiona>1.9.6 is not compatible with geopandas<1; geopandas>=1 is not compatible with python 3.8
pyshp
matplotlib
scikit-image
psutil
kaleido
orjson
polars[timezone]
pyarrow
plotly-geo
vaex;python_version<="3.9"
