jupytext
plotly==5.6.0
jupyter
notebook
pandas==1.2.4
statsmodels==0.11.1
scipy
patsy==0.5.1
numpy==1.21.0
plotly-geo
psutil
requests
networkx
scikit-image
datashader
pyarrow
cufflinks==0.17.3
kaleido
scikit-learn
umap-learn
wget
